name: DailyWeatherBot

on:
  push:
    branches: [ main ]
  schedule:
    # 北京时间 12:02 = UTC 04:02
    - cron: '15 06 * * *'
  workflow_dispatch: # 保留这个，如果你现在想立刻看效果，就在 Actions 页面点按钮
   
jobs:
  run_bot:
    runs-on: ubuntu-latest
    steps:
      - name: 检查代码
        uses: actions/checkout@v3

      - name: 安装 Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: 安装依赖
        run: pip install requests

      - name: 执行脚本
        env:
          BARK_KEY: ${{ secrets.BARK_KEY }} # 从安全设置里读取你的 Key
        run: python index.py
