name: DailyWeatherBot

on:
  push:
    branches: [ main ]
  schedule:
    # 建议把 08:20 改成一个“避开高峰”的时间
    # 比如 08:27 (UTC 00:27)，避开所有人在 00, 10, 20 分钟的拥堵
    - cron: '02 10 * * *'
   
jobs:
  run_bot:
    runs-on: ubuntu-latest
    steps:
      - name: 检查代码
        uses: actions/checkout@v3

      - name: 安装 Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: 安装依赖
        run: pip install requests

      - name: 执行脚本
        env:
          BARK_KEY: ${{ secrets.BARK_KEY }} # 从安全设置里读取你的 Key
        run: python index.py
